---
import Page from "../../layouts/Page.astro";
---

<Page>
<div class="prose mx-auto prose-l w-5/6 md:w-2/3 md:prose-xl">
  <h1>The Big Bang Stage @ Colours of Ostrava</h1>

  <p>
    Every summer, the multi-genre festival Colours of Ostrava, takes place in
    Ostrava. Since 2019, the festival has been enriched three times with The Big
    Bang Stage.
  </p>

  <p>
    The Big Bang Stage offers festival visitors workshops, physics shows, and
    lectures on topics such as particle and quantum physics, CERN, thermonuclear
    fusion, the present and future of nuclear reactors, gravity, cosmology,
    antimatter, AI, and more, all in a form accessible to the general public.
    The program also includes performances where the world of science interfaces
    with the world of art. This includes performances like The Slam Poetry:
    Science Editions or Raw Art Wrestling - a real-time “battle” of illustrators
    drawing on topics connected to physics. Furthermore, two tents where various
    hands-on experiments are performed are placed in the venue of the festival.
    This stage is mainly organized in collaboration with physicists from Charles
    University and Czech Technical University, in cooperation with the Science
    and Technology Centrum in Dolni Vitkovice. The stage is visited by over
    3,000 spectators every year, who can meet leading experts and science
    communicators in the field during the four days of the program.
  </p>

  <h2>Collaborating institutes</h2>

  <h3>Charles University</h3>

  <p>
    Charles University, located in Prague, Czech Republic, is one of the oldest
    and most prestigious universities in Europe, renowned for its strong
    emphasis on research and education in physics. Founded in 1348 by Emperor
    Charles IV, the university has a long-standing tradition of excellence in
    the physical sciences. It actively collaborates with leading international
    research institutions, including CERN.
  </p>

  <h3>Czech Technical University</h3>

  <p>
    The Czech Technical University in Prague (CTU) is one the leading technical
    universities in Czech Republic, renowned for its robust programs in
    engineering and applied sciences. Established in 1707, CTU has a
    distinguished history of innovation and research excellence. In the field of
    physics, CTU is notable for its active collaboration with CERN.
  </p>
</div>
</Page>
<style>
    div {
        margin-bottom: 100px;
    }
</style>
