---

const classes = Astro.props.class;

---

<section class={classes}>
  <div class="video-container">
    <video-js id="vid1" class="video">
      <source src="https://kws-public-stuff.s3.amazonaws.com/bigbang-womad-2019.mp4" />
    </video-js>
  </div>
  <div class="text-container">
    <slot />
  </div>
</section>
<style>
  section {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-items: center;
  }
  .text-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* Specific for 16:9 aspect ratio */
    height: 0;
    width: 100%;
    overflow: hidden;
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;

  }
</style>

<script>
  import videojs from "video.js";
  import "video.js/dist/video-js.css";

  const videoUrls = [
    "https://kws-public-stuff.s3.amazonaws.com/bigbang-womad-2019.mp4",
    "https://kws-public-stuff.s3.amazonaws.com/bigbang-roskilde-2022.mp4"
  ]

  const randomVideoUrl = () => videoUrls[Math.floor(Math.random() * videoUrls.length)];

  const player = videojs("vid1", { autoplay: true, muted: true });
  player.ready(() => {
    player.src(randomVideoUrl());
  });
  player.on('ended', () => {
    player.src(randomVideoUrl());
  });

</script>
