---
import { format } from 'date-fns';

const { festival } = Astro.props;

const sameMonth = format(festival.data.startDate, 'MMMM') === format(festival.data.endDate, 'MMMM');
const displayFormat = sameMonth ? `${format(festival.data.startDate, 'd')} - ${format(festival.data.endDate, 'd MMMM')}` : `${format(festival.data.startDate, 'd MMMM')} - ${format(festival.data.endDate, 'd MMMM')}`;

const { Content, headings, remarkPluginFrontmatter } = await festival.render();

---
<div class="p-8 sm:p-10 lg:flex-auto">
    <h3 class="text-4xl font-bold tracking-tight prose-slate">{festival.data.title}</h3>
    <p class="text-base leading-7 prose-slate">{displayFormat}</p>
    <p class="mt-6 text-base leading-7 prose-slate prose-large"><Content /></p>
</div>