---
import { getImage } from "astro:assets";
import historyImage1 from "../assets/cern-restaurant-1.jpg";
import historyImage2 from "../assets/womad-queue.jpg";
import historyImage3 from "../assets/science-pavilion.jpg";

const optimizedImage1 = await getImage({src: historyImage1, format: 'jpg', width: 1024});
const optimizedImage2 = await getImage({src: historyImage2, format: 'jpg', width: 1024});
const optimizedImage3 = await getImage({src: historyImage3, format: 'jpg', width: 1024});

---

<div class="grid odd">
  <div class="text" style="background-color: #6a8167; color: #c8f7c5;">
    <section>
      <p>
        The Festival Programme began in 2015. At the end of a long day visiting
        CERN, Real World CEO Mike Large was having a beer on the CERN terrace
        with Connie Potter and Chris Thomas from CERN and Roger Jones from
        Lancaster University.
      </p>
      <p>
        Mike, overseeing the WOMAD music festivals, felt that the WOMAD UK
        audience would love to hear about some of the science going on at CERN.
      </p>
      <p>
        The locals were not convinced – “why would people in the middle of the
        countryside, faced with a programme of music, books, dance and
        well-being want to listen to talks on science?” – but Mike was confident
        – his WOMAD audience were curious, eager to always learn more.
      </p>
      <p>
        The initial concept of the Physics Pavilion evolved into the first World
        of Physics through a collaboration between CERN, WOMAD, and Lancaster
        University.
      </p>
    </section>
  </div>
  <div class="image" style={`background-image: url(${optimizedImage1.src});`}>
  </div>
<div class="grid even">
  <div class="text" style="background-color: #F6CB7F; color: #aa2e00;">
    <section>
      <p>
        That first World of Physics offered a 3 day programme of hands-on
        workshops, talks and shows to over 5000 people over the 3 days. The
        success was phenomenal and continues to this day.
      </p>
      <p>
        The majority of attendees state on the feedback forms that they never go
        to science events during the year, that the fun, engaging way in which
        we share our science, including having real physicists welcoming them,
        on hand to discuss any topics they wish, changed their feelings about
        science.
      </p>
      <p>        
        It wasn’t the hard slog they had known at school, with
        uninspiring teachers. They weren’t made to feel stupid with their
        questions. They revelled in this new found interest and kept coming back
        each day, and still do.. each year.
      </p>
    </section>
  </div>
  <div class="image" style={`background-image: url(${optimizedImage2.src});`}>
</div>
<div class="grid odd">
  <div class="text" style="background-color: #F57E7E; color: #551700;">
    <section>
      <p>
        As Connie and Chris gave talks on this new form of outreach to the
        public, it became clear from responses from the community that other
        countries were very keen to have their own Science Pavilion and so the
        Big Bang Collective was formed.
      </p>
      <p>
        Partnerships were formed with collaborating institutes in Slovakia, the
        Czech Republic and Denmark resulting in Science Pavilions at the Pohoda
        Festival in Slovakia, the Colours of Ostrava in the Czech Republic and
        the Roskilde Festival in Denmark.
      </p>
      <p>
        In 2024 we are proud to announce that we will be launching a new Science
        Pavilion at the Smukfest in Denmark and Rototon Sunsplash in Spain.
      </p>
    </section>
  </div>
  <div class="image" style={`background-image: url(${optimizedImage3.src});`}>
</div>
<style>
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-re;
    width: 100%;
  }
  .text {
    display: flex;
    padding: 1rem;
    flex: 1 1 auto;
    font-size: min(1.25rem, max(1.3vw, 1rem));
    justify-content: center;
    flex-direction: column;
    width: 50%;
    opacity: 0.8;
  }
  .text section {
    margin: 5vw;
  }
  .text section p {
    margin-bottom: 1.5rem;
    text-align: justify;
  }
  .image {
    flex: 1 1 auto;
    display: flex;
    width: 50%;
    background-size: cover;
    background-position: center;
  }
  .grid.even {
      flex-direction: row-reverse;
    }
  @media (max-width: 768px) {
    .text {
      width: 100%;
    }
    .image {
      width: 100vw;
      height: 50vw;
    }
    .image img {
      width: 100%;
    }
  }
</style>
