---
---
<div
class="w-[95%] max-w-6xl shadow-lg p-6 mt-6 mx-auto rounded-xl bg-slate-100 bg-opacity-70 prose prose-slate prose-large md:prose-xl transition-all"
>
<p class="">
  Welcome to the Big Bang Collective, an exhilarating fusion of minds and
  ideas that illuminates the world of science, technology, engineering, and
  mathematics (STEM). Each year, our festival sets out to spark passion,
  curiosity, and innovation among attendees. The festival's programme is
  richly curated to captivate young enthusiasts, educators, and
  professionals alike, serving as a dynamic platform for exploring the
  latest advancements, engaging in thought-provoking discussions, and
  participating in hands-on activities that animate STEM concepts. At the
  core of our festival is a commitment to deepening the understanding and
  appreciation of the marvels of science and technology. The programme
  offers a plethora of opportunities to delve into the complexities of the
  cosmos, unravel the mysteries of the microscopic world, and explore
  cutting-edge technologies that are shaping our future. With interactive
  exhibits that stimulate the imagination and keynote speeches that inspire
  action, the Big Bang Collective offers an unparalleled journey through the
  wonders of STEM, celebrating the spirit of discovery and innovation that
  propels us into new frontiers.
</p>
</div>