---

---

<div class="w-full shadow-lg mx-auto bg-opacity-70 transition-all">
  <p class="mx-auto w-full prose-l md:w-2/3 md:prose-xl">
    Orlando into the exciting world of physics at the World of Physics Festival
    Programme, where science meets the arts in a vibrant celebration of
    discovery. 
  </p>   
  <p class="mx-auto w-full prose-l md:w-2/3 md:prose-xl">
    This unique collaboration between leading science institutions
    and popular music festivals across Europe brings physics to life through
    hands-on workshops, engaging talks, and dynamic shows. Geared towards
    fostering a love for science in an entertaining and accessible way, the
    programme offers attendees of all ages a chance to explore fascinating
    topics with real physicists and students.
  </p>   
  <p class="mx-auto w-full prose-l md:w-2/3 md:prose-xl">    
    Whether you're a science
    enthusiast or simply curious, the World of Physics is your gateway to
    uncovering the wonders of the universe in an atmosphere filled with music
    and joy.
  </p>
</div>
<style>
  div {
    background-color: #474284;
    color: #e4f1fe;
    opacity: 0.9;
    padding: max(2rem, 2vw) 5vw max(2rem, 2vw) 5vw;
  }
  p {
    text-align: center;
    line-height: 1.75em;
    margin-bottom: 1em;
  }
</style>
